################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Python_SM/copilot-chat/d9cc7f8f/sessions
/.vs/Python_SM/FileContentIndex
/.vs/Python_SM/CopilotIndices/0.2.1627.58842
/.vs
/Pytransitions/FRTL/mobilenet/data/FRTL/Annotations/*.xml
/Pytransitions/FRTL/mobilenet/data/FRTL/JPEGImages/*.jpg